/* components/FAQ.module.css */

.faqContainer {
  margin: 0 auto;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.faqItem {
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.question {
  padding: 10px;
  background-color: #6d3df5;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

.question:hover {
  background-color: #6d3df5;
}

.icon {
  margin-left: 10px;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out, padding 0.3s;
}

.answer.show {
  max-height: 100px;
  /* Adjust based on the content height */
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 4px 4px;
}