.h2 {
  font-family: "Urbanist", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  padding: 20px;
}

.how-it-works-card {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 20px 0;
}

.how-it-works-image {
  width: 20%;
  height: 300px;
  background: gray;
}